<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Shopping list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  
</head>

<body>
    <h1>Add to card</h1>
  
    <div class="col-md-6">
		<form th:object="${productToCard}" th:action="@{/save}" action="#" method="post">
			<input type="hidden" th:field="*{id}" />
		  	<label for="productName">Purchase</label>
			<input type="text" id="productName" th:field="*{productName}" readonly="readonly" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="quantity">Quantity</label>
			<input type="text" id="quantity" th:field="*{quantity}" readonly="readonly" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="price">Price</label>
			<input type="text"id="price" th:field="*{price}" readonly="readonly" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
            <label for="comments">Comments</label>
            <input type="text"id="comments" th:field="*{comments}" />
			<div style="clear: both; display: block; height: 10px;"></div>
					

			<input type="hidden" name= "status" th:value="${statuscheck.statusId}"/>

			<input type="hidden" name= "appUser" th:value="${currentUserId.cmId}" />
			
			<input type="submit" value="Add to card" class="btn btn-success"></input>

			<a href="/productlist" class="btn btn-outline-danger">Cancel</a>

		</form>
	</div>
	</div>
</body>

</html>